
body{
    margin: 0;
    font-family: Roboto,arial;
    
}

button:hover{
    cursor: pointer;
}
.nav-bar{
    height: 65px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-family: Roboto;

}
.left-part{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    align-items: center;
}
.title{
    width: 85px;
    font-size: 24px;
    font-family:  Roboto;
}
.menus, .about-menu{
    padding: 8px 10px;
    margin-right: 5px;
    border-radius: 20px;
    text-align: center;
    
}
.menus:hover, .about-menu:hover{
    background-color: rgb(44, 44, 44);
    transition-duration: 0.5s;
}
.lang{
    
    width: 70px;
    display: flex;
    flex-direction: row;
}
.en{
    padding-left: 10px;
}
.lang-logo{
    width: 18px;
    float: left;
    padding-right:5px ;
    transform: rotate(135deg);
    
}

.sign-up-button{
    height: 32px;
    width: 70px;
    padding-left: 5px;
    border-radius: 30px;
    background-color: white;
    font-size: 15px;
    border: none;
}
button:hover{
    background-color: rgb(44, 44, 44);
    transition-duration: 0.5s;
}
.sign-up-button:hover, .details-button:hover{
    background-color: rgb(190, 190, 190);
    transition-duration: 0.5s;
}
.select-tag-about{
    background: transparent;
    color: white;
    border: none;
}
.about-menu{
    margin-left: 8px;
    width: 80px;
    padding-right: 10px;
}


.right-part{
    display: flex;
    flex-direction: row;
    width: 330px;
    align-items: center;
    margin-right:10px;
}

.container{
    width:  100%;
    height: 4000px;
}
.title-bar{
    height: 70px;
    width: 100%;
   
    display: flex;
    float: row;
    justify-content: space-between;
    align-items: center;
}

.ride-right{
  
color: grey;
display: flex;
font-size: 15px;
flex-direction: row;
background-color: white;
margin-right: 30px;

justify-content: first baseline;
padding-right: 0;
}
.title:hover, .menus:hover{
    cursor: pointer;
}
.main-pic:hover{
    cursor: grab;
    
}
.main-portion{
    width: 100%;
    height: 650px;
    background-color: rgb(255, 255, 255);
    padding-top: 15px;

}
.left1{
    width: 50%;
    height: 600px;
    background-color: white;
    float: left;
    position: relative;
}
.line{
    border-left: 1px solid;
    height: 42px;
    position: absolute;
    margin-left: 123.5px;
    top: 243px;
}
.head-div{
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    width: 450px;
    line-height: 62px;
    
}
.pickup{
    height: 45px;
    width: 390px;
    background-color: rgb(243, 243, 243);
    margin-top: -15px;
    margin-left: 100px;
    margin-bottom: 33px;
    border-radius: 8px;
    align-items: center;
    
}
.dot{
    float: left;
    box-sizing: border-box;
    
    
}
.dot-c {
    padding: 5px;
    height: 40px;
}
.dot-s{
    height: 12px;
    padding: 18px;
}
.input-box{
    float: left;
    margin-top: 15px;
    margin-left: -8px;
    
}
input{
    font-size: 16px;
    background-color: transparent;
    border: none;
}
.send-icon{
   float: left;
   padding-left: 105px;
   padding-top: 10px;
}
.send{
    height: 25px;
    background-color: transparent;
    
}

.drop-out{
    height: 45px;
    height: 45px;
    width: 390px;
    background-color: rgb(243, 243, 243);
    margin-top: -15px;
    margin-left: 100px;
    margin-bottom: 33px;
    border-radius: 8px;

}
.calender{
    height: 45px;
    height: 45px;
    width: 190px;
    background-color: rgb(241, 241, 241);
    margin-top: -15px;
    margin-left: 100px;
    margin-bottom: 33px;
    border-radius: 8px;
    float: left;
    display: flex;
    align-items: center;
    
}
.calender:hover{
    cursor: pointer;
}
.calender-icon{
    height: 15px;
    padding: 13px 15px;
}
.cal-icon-div{

    float: left;
}
.cal-date-div{
    width: 150px;
}
.select-calender{
    color: rgb(153, 153, 153);
    font-size: 17px;
    width: 130px;
    background-color: transparent;
    border: none;

}

.time{
    height: 45px;
    height: 45px;
    width: 190px;
    background-color: rgb(241, 241, 241);
    margin-top: 33px;
    margin-left: 110px;
    margin-bottom: 33px;
    border-radius: 8px;
    float: left;
    display: flex;
    align-items: center;
    
}
.time:hover{
    cursor: pointer;
}
.clock-icon{
    height: 23px;
    padding: 0 10px;
}
.button.div{
   margin-left: 100px;
}
.price{
    padding: 16px 20px;
    margin-left: -190px;
    width: 130px;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 17px;
}
.calender-clock-div{
    padding-bottom: 45px;
}

.suggestion-part{
    width: 100%;
    height: 370px;
    padding-left: 90px;
}
.reserve-left,.ride-right {
   
   width: 345px;
    height: 140px;
    background-color: rgb(243, 243, 243);
    margin-right: 20px;
    border-radius: 8px;
    padding: 10px 2px 10px 15px;
    float: left;
    line-height: 20px;
}


.sugg-head{
    font-size: 36px;
    font-weight: bolder;
}
.sugg-writing{
    margin-top: 1px;
    float:left;
    color: black;
}
.sugg-head2{
    font-weight: bold;
    font-size:15px ;
}

.sugg-dis{
    font-size: 13px;
    width :210px;
    line-height: 20px;
    
}
.details-button{
    width: 70px;
    margin-top: -5px;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: none;
}

.sugg-image{
    height: 130px;
    padding-left: 5px;
    float: left;
}
.login-portion{
    width: 100%;
    height: 400px;
    margin-left: 90px;
    display: inline-block;
}
.login-left{
    width: 45%;
    float: left;
}
.login-write{
    width:400px;
}

.login-head{
    font-size: 50px;
    width: 400px;
    font-weight: bolder;
}
.login-right{
    width: 50%;
    float: left;

}
.login-account{
    background-color: black;
    color: white;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

a{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}
.get-start{
    display: flex;
    flex-direction: row;
    justify-content: left
    ;
    align-items: center;
}

.get-started-part{
    width: 100%;
    height: 700px;
    margin-top: 90px;
    background-color: rgb(255, 255, 255);
}
.gs-left{
    width: 40%;
    float: left;
    padding-left: 85px;
}
.gs-btn{
    margin-right: 30px;
}
.gs-right{
    width: 40%;
    float: left;
    padding-left: 165px;
    padding-top: 60px;
    width:410px;
    
}
.gs-img{
    height: 560px;
}
.gs-head{
    
    
    font-size: 50px;
    font-weight: bold;
}
.gs-login-write{
    line-height: 25px;
}
.uber-portion{
    color: rgb(78, 78, 78);
    margin-left: 100px;
    height: 620px;
    
}
.mkmony-img{
    width: 550px;
}
.make-money{
    height: 620px;
}
.makemony-head{
    
    padding-top: 35px;
    font-size: 40px;
    font-weight: bold;
}
.mm-right{
    width: 40%;
    float: left;
    padding-left: 165px;
    padding-top: 60px;
    width:430px;
    
}

.barcod-part{
    width: 100%;
    height: 400px;
    background-color: rgb(241,241,241);
}
.bar-div{
    padding-left: 100px;
    padding-top: 50px;
}

.bar-head{
    
    font-size: 37px;
    font-weight: 700;
}
.bar-img-div{
    margin-right: 20px;
    margin-left: 100px;
    display: flex;
}
.bar-img{
    height: 140px;
    width: 550px;
    padding: 15px;
    background-color: rgb(248,248,248);
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.qr{
    height: 140px;
}
.qr-details{
    margin-left: 30px;
    margin-right: 60px;
    line-height: 4px;
}
.download-line{
    font-size: 25px;
    
    
}
.arrow{
    font-weight: bolder;
}

footer{
    background-color: black;
    width: 100%;
    height: 800px;
    color: white;
    padding-left: 100px;
    padding-top: 100px;
    bottom: 0;
}
.uber-details{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}
.foot-a{
    text-decoration: none;
    color: white;
    border: none;
    line-height: 40px;
    font-size: 15px;
}
.footer-head{
    font-size: 25px;
    padding-bottom: 40px;
}
.helpcenter{
    padding-bottom: 80px;
}
.link-div-bar{
    margin-top: 40px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.links{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    width: 44%;
    

}
.logo-link{
    
    margin: 10px;
    justify-content: center;
}
.logo-img{
    width: 23px;
}
#in{
    width: 15px;
}
#yt-logo-size{
    width: 17px;
}
.link-right{
    display: flex;
    flex-direction: row;
    
    width: 200px;
    text-align: center;
    
}
.logo-link:hover{
    cursor: pointer;
    
}
.bottom-lang{
    direction: flex;
    flex-direction: row;
    margin: 10px;
    width:100px;
}
#loc-img{
    height: 15px;
    width: 20px;
}
.download-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin-top: 30px;
    align-content: center;
}
.download-left{
    display: inline-block;
    align-content: center;
    
}